<center>
<h1>Editing Page</h1>

<%= render 'form' %>
<div class="button2">
<p><%= link_to 'Show', @page, :class => "btn btn-default btn-green" %>
<%= link_to 'Back', pages_path, :class => "btn btn-default btn-green" %></p>
</div>
</center>