<div class="alert1 alert-info1 releaseInfo">
<h1>New Paper</h1>

<%= render 'form' %>
</div>
<center>
<div class="button2">
<p>
<%= link_to 'Back', papers_path, :class => "btn btn-default btn-green" %>
<p>
</div><center>