</body>
    <div id="slideshow" class="imageresize">

      <div>
        <img src="../images/Slider/1.jpg">
      </div>
      <div>
        <img src="../images/Slider/2.jpg">
      </div>
      <div>
        <img src="../images/Slider/3.jpg">
      </div>
      <div>
        <img src="../images/Slider/4.jpg">
      </div>
      <div>
        <img src="../images/Slider/5.jpg">
      </div>
          <center><section class="cd-intro block wow fadeInUp">
            <h1 class="wow fadeInUp animated cd-headline slide">
            <span>HI, MY NAME IS JONATHON & I AM A</span><br>
            <span class="cd-words-wrapper">
                <b class="is-visible">DESIGNER</b>
                <b>DEVELOPER</b>
                <b>FATHER</b>
            </span>
            </h1>
          </section> <!-- cd-intro -->
          <h2 class="wow fadeInUp animated">
          With 10 years experience, I've occupied many roles including digital design director,<br> web designer and developer. This site showcases some of my work.
          </h2>
          <% if user_signed_in? %>
          <%= link_to 'Шинэ зохиол нийтлэх', new_paper_path, :class => "btn-lines dark light wow fadeInUp animated btn btn-default btn-green" %>
          <% else %>
          <%= link_to 'Sign up', new_user_registration_path, :class => "btn-lines dark light wow fadeInUp animated btn btn-default btn-green" %>
          <% end %>
        </center>
    </div>
</body> 
